/.fleet
/.idea
/.vscode
/laravel-application/storage/*.key
/laravel-application/vendor
/laravel-application/node_modules
*.env
*.env.backup
*.env.production
*.phpunit.result.cache
*Homestead.json
*Homestead.yaml
*auth.json
*npm-debug.log
*yarn-error.log
/public_html/build
/public_html/hot
/public_html/storage